In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# combine all the states data into a single dataframe from cleaned_dataset file
df_sort = pd.read_csv('working_datasets/cleaned_data.csv')

In [11]:
# first sort according to state names, then sort according to district names within each state
df = df_sort.sort_values(by=['state', 'district']).reset_index(drop=True)
print("Data sorted by state and district names.")

Data sorted by state and district names.

In [12]:
df

,date,state,district,pincode,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_,age_0_5,age_5_17,age_18_greater,total_bio,total_demo,total_enrollment,bio_success_rate,month,quarter
0,2025-09-01,Andaman_&_Nicobar_Islands,Andamans,744101,1.0,3.0,0.0,4.0,0,1,0,4.0,4.0,1,100.00,9,3
1,2025-09-09,Andaman_&_Nicobar_Islands,Andamans,744103,4.0,3.0,0.0,3.0,0,1,0,7.0,3.0,1,233.33,9,3
2,2025-09-11,Andaman_&_Nicobar_Islands,Andamans,744103,1.0,3.0,0.0,1.0,1,0,0,4.0,1.0,1,400.00,9,3
3,2025-09-18,Andaman_&_Nicobar_Islands,Andamans,744103,2.0,1.0,0.0,1.0,1,0,0,3.0,1.0,1,300.00,9,3
4,2025-09-18,Andaman_&_Nicobar_Islands,Andamans,744101,2.0,7.0,0.0,6.0,1,0,0,9.0,6.0,1,150.00,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548617,2025-12-29,West_Bengal,West_Midnapore,721301,1.0,9.0,1.0,16.0,1,1,0,10.0,17.0,2,58.82,12,4
548618,2025-12-29,West_Bengal,West_Midnapore,721517,1.0,7.0,1.0,7.0,1,0,0,8.0,8.0,1,100.00,12,4
548619,2025-12-29,West_Bengal,West_Midnapore,721305,0.0,4.0,0.0,5.0,1,0,0,4.0,5.0,1,80.00,12,4
548620,2025-12-29,West_Bengal,West_Midnapore,721212,0.0,3.0,0.0,12.0,2,0,0,3.0,12.0,2,25.00,12,4
548621,2025-09-12,Westbengal,Hooghly,712247,0.0,1.0,0.0,1.0,0,1,0,1.0,1.0,1,100.00,9,3

In [13]:
df.to_csv('working_datasets/sorted_by_states_and_districts.csv', index=False)